* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(120deg, #2980b9, #8e44ad);
  color: #fff;
}

/* Header Navbar */
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 25px 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.container {
  width: 90%;
  margin: 0 auto;
}

.navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar img {
  width: 75px;
}

.navbar nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.navbar nav ul li {
  margin: 0 15px;
}

.navbar nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
}

.navbar nav ul li i {
  padding-right: 9px;
}

.navbar nav ul li a:hover {
  border-bottom: 2px solid #8e44ad;
}

.github {
  margin-left: 20px;
}

.github a {
  color: white;
  font-size: 30px;
  text-decoration: none;
  width: 20px;
}

/* Hello Section */
.main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.left {
  width: 55%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 30px;
}

.main-section .left {
  flex: 6;
  padding-right: 20px;
  float: left;
  justify-items: center;
  margin-left: 100px;
}

.main-section .left h1 {
  font-size: 35px;
  margin-bottom: 10px;
}

.main-section .left h2 {
  font-size: 50px;
  margin-bottom: 10px;
}

b {
  color: black;
}

.main-section .left p {
  font-size: 30px;
}

.right {
  width: 45%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.right img {
  width: 80%;
  margin-right: 30px;
  height: auto;
  border-radius: 10px;
}

/* Intro section */

.IntroContainer {
  width: 90%;
  margin: -10px auto;
  display: flex;
}

.left h1 {
  font-size: 2.6em;
  margin-bottom: 20px;
  text-align: center;
}

.left p {
  font-size: 18px;
  line-height: 1.5;
}

.myAvtar img {
  width: 70%;
  height: 75%;
  clip-path: ellipse(40% 33%);
  z-index: -1;
}

/* Contact Section */

.icon-div {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-bottom: 40px;
}
.icon-styling {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-decoration: none;
  font-size: x-large;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-color {
  color: #9679f5;
}

/* About Me Section */

.about-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150vh;
  margin-bottom: 0;
}

h1,
h2 {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 3rem;
  margin-top: 30px;
}

h2 {
  font-size: 2rem;
}

p {
  line-height: 1.6;
  text-align: justify;
  margin-bottom: 10px;
}

.text-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.text-container li {
  margin-bottom: 5px;
  padding-left: 20px;
}

.text-container li::before {
  content: "👉";
  left: 0;
}

.text-container {
  text-align: left;
  width: 50%;
  float: left;
}

.image-container {
  width: 40%;
  float: right;
  margin-top: 40px;
}

.image-container img {
  max-width: 100%;
  border-radius: 10px;
}

/* Skill Set and Tools Section */
.boxes {
  padding: 40px 0;
}

.boxes .card-grid {
  margin-left: 80px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.card {
  text-align: center;
  border: 3px solid #320844;
  height: 80px;
  width: 80px;
  padding: 20px;
}

.card img {
  max-width: 100px;
  height: 80px;
  width: 80px;
}

/* Project Section */

.projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.projects-section .container {
  text-align: center;
}

.main-heading {
  font-size: 2.5rem;
  color: black;
  margin-bottom: 10px;
}

.sub-heading {
  font-size: 1.5rem;
  color: black;
  margin-bottom: 30px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  max-width: 1200px;
  margin: 0 auto;
}

.project-card {
  border-radius: 10px;
  overflow: hidden;
  width: 280px;
  transition: transform 0.3s;
  padding: 10px;
  border: 2px solid #56037a;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-card img {
  width: calc(100% - 20px);
  height: 200px;
  object-fit: contain;
}

.project-info {
  padding: 20px;
  text-align: center;
}

.project-info h3 {
  margin: 0;
  font-size: 1em;
  color: white;
}

.project-info p {
  font-size: 0.7rem;
  color: white;
  margin: 10px 0;
}

.btn {
  background-color: purple;
  color: white;
  border-radius: 2px;
  margin-left: 20%;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn:hover {
  background-color: rgb(111, 13, 182);
}

/* Resume Section */

.resume-section {
  padding: 100px 0;
  text-align: center;
}

.resume-btn,
.download-btn {
  background-color: #8e44ad;
  color: #fff;
  padding: 15px 30px;
  margin: 20px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.resume-preview img {
  max-width: 100%;
  height: 700px;
  margin: 20px 0;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  background-color: black;
}

.left-f {
  text-align: left;
}

.center-f {
  text-align: center;
  margin-right: 90px;
}

.right-f {
  text-align: right;
  margin-right: 40px;
}

.right-f .footer-icon {
  margin: 0 10px;
}

.icon-footer-color {
  color: white;
  padding-left: 20px;
}
